:root{
    --bce-medium: #4ea0ff;
    --bce-dark: #20a9e5;
    --bce-light: #b1e5f2; 
    --bce-marker: #ffff00; 
}

*{
    margin: 0;
}


#title-page{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: var(--bce-medium);
    position: relative;
    height: 100px;
    width: 100%;

}

.logo{
    max-width: 15%;
    position: absolute;
    bottom: 0%;
}


.title-article{
    margin-top: 12px;
    font-size: 35px;
}

.author{
    color: lightgray;
    font-size:  25px;
}

#lb-author{
    color: var(--bce-dark);
}

#date{
    font-size: 20px;
}